@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root
{
    --header-height: 3.5rem;
    --nav-width: 219px;

    --first-color: #6923d0;
    --first-color-light: #f4f0fa;
    --title-color: #19181b;
    --text-color: #58555e;
    --text-color-light: #a5a1aa;
    --body-color: #f6f6f6;
    --container-color: #fff;

    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;

    --z-fixed: 100;
}

@media screen and (min-width: 1024px)
{
    :root
    {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

*,::before,::after
{
    box-sizing: border-box;
}

body
{
    margin: var(--header-height) 0 0 0;
    padding: 1rem 1rem 0;
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

h3
{
    margin: 0;
}

a
{
    text-decoration: none;
}

/*.header__container img
{
    max-width: 10%;
    height: auto;
}*/

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(22,8,43,1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
}

.header__container
{
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;
}

.header__img
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.rank__img
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.header__logo
{
    color: var(--title-color);
    font-weight: 500;
    display: none;
}

.header__search
{
    display: flex;
    padding: .40rem .75rem;
    background-color: var(--first-color-light);
    border-radius: .25rem;
}

.header__input
{
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--first-color-light);
}

.header__input::placeholder
{
    font-family: var(--body-font);
    color: var(--text-color);
}

.header__icon,
.header__toggle
{
    font-size: 1.2rem;
}

.header__toggle
{
    color: var(--title-color);
    cursor: pointer;
}

.navi
{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 1rem 1rem 3rem;
    background-color: var(--container-color);
     text-decoration: none;
    box-shadow: 1px 0 0 rgba(22,8,43,.1);
    z-index: 100;
    transition: .4s;
}

.nav__container
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.nav__container::-webkit-scrollbar
{
    display: none;
}

.nav__logo
{
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.nav__list,
.nav__items
{
    display: grid;
}

.nav__list
{
    row-gap: 2.5rem;
}

.nav__items
{
    row-gap: 1.5rem;
}

.nav__subtitle
{
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--text-color-light);
}

.nav__link
{
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.nav__link:hover
{
    color: var(--first-color);
}

.nav__icon
{
    font-size: 1.2rem;
    margin-right: .5rem;
}

.nav__name
{
    font-size: var(--small-font-size);
    font-weight: 500;
    white-space: nowrap;
}

.nav__logout
{
    margin-top: 5rem;
}

.nav__dropdown
{
    overflow: hidden;
    max-height: 21px;
    transition: .4s ease-in-out;
}

.nav__dropdown-collapse
{
    background-color: var(--first-color-light);
    border-radius: .25rem;
    margin-top: 1rem;
}

.nav__dropdown-content
{
    display: grid;
    row-gap: .5rem;
    padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item
{
    font-size: var(--smaller-font-size);
    font-weight: 500;
    color: var(--text-color);
}

.nav__dropdown-item button
{
    border: none;
    outline: none;
    background-color: var(--first-color-light);
}

.nav__dropdown-item button:hover
{
    color: var(--first-color);
}

.nav__dropdown-icon
{
    margin-left: auto;
    transition: .4s;
}

.nav__dropdown:hover
{
    max-height: 100rem;
}

.nav__dropdown:hover .nav__dropdown-icon
{
    transform: rotate(180deg);
}

.show-menu
{
    left: 0;
}

.activet
{
    color: var(--first-color);
}

.test:after {
  content: 'shown after 2 seconds';
  opacity:0;
  transition: 2s all;
}

.test:hover:after {
  opacity:1;
  transition-duration: 1s;
  transition-delay: 1s;
}

@media screen and (max-width: 420px)
{
    .table1 {font-size: 13px;}
}

@media screen and (max-width: 380px)
{
    .header__search
    {
        width: 70%;
    }

    .table1
    {
        font-size: 12px;
    }

    .uy {font-size: 12px;}
    .uy h4, h3 {font-size: 17px;}
    .uy input {font-size: 12px;}
    .uy select {font-size: 12px;}
    .uy button {font-size: 12px;}

    .table1 .btn
    {
        font-size: 10px;
    }

    .text {font-size: 10px;}

    .text h1 {font-size: 25px;}

    .table1 tr th:first-child + th + th + th + th + th
    {
        padding: 5px;
        width: 16%;
    }

    .cardi, img 
    { 
        font-size:13px;
        /*width: 1rem;*/
    }

    .card, img{ 
        font-size:13px;
        width: 10rem;
    }

    /*.cards {width: 210px;} */
    .cardis {width: 300px;}

    .gnd { font-size: 12px; }

    .table1 tr th:first-child
    {
        padding: 4px;
        width: 16%;
    }

}

@media screen and (min-width: 768px)
{
    body
    {
        padding: 1rem 3rem 0 6rem;
    }

    .header
    {
        padding: 0 3rem 0 6rem;
    }

    .header__container
    {
        height: calc(var(--header-height) + .5rem);
    }

    .header__search
    {
        width: 300px;
        padding: .55rem .75rem;
        display: hidden;/*hapus*/
    }

    .header__toggle
    {
        display: none;
    }

    .header__logo
    {
        display: block;
    }

    .header__img
    {
        width: 40px;
        height: 40px;
        order: 1;
    }

    .rank__img
    {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    .navi
    {
        left: 0;
        padding: 1.2rem 1.5rem 3rem 1.6rem;
        width: 76px;
    }

    .nav__items
    {
        row-gaps: 1.7;
    }

    .nav__icon
    {
        font-size: 1.3rem;
    }

    .nav__logo-name,
    .nav__name,
    .nav__subtitle,
    .nav__dropdown-icon
    {
        opacity: 0;
        transition: .3s;
    }

    .navi:hover
    {
        width: var(--nav-width);
    }

    .navi:hover .nav__logo-name
    {
        opacity: 1;
    }

    .navi:hover .nav__subtitle
    {
        opacity: 1;
    }

    .navi:hover .nav__name
    {
        opacity: 1;
    }

    .navi:hover .nav__dropdown-icon
    {
        opacity: 1;
    }

}

.shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
    min-width: 250px;
}

.tab-content {
    flex: 1;
}

.form-group {
    margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
}
.nav-pills a.nav-link i {
    width: 20px;
}

.img-circle img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
}

/*focus - input: border-color: #9b59b6;*/
/*.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}*/

.ooo {
  max-width: 1200px;
  /*position: fixed;*/
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f2f5f7;
}

.table1 tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}

.table1, th, td {
    padding: 8px 10px;
    table-layout: fixed;
    text-align: center;
}

.table1, .th2, .td2 {
    padding: 8px 20px;
    text-align: left;
}

.table1 tr:hover {
    background-color: #f5f5f5;
}

.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}


.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
/*.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}*/

[data-tip] {
    position:relative;

}
[data-tip]:before {
    content:'';
    /* hides the tooltip when not hovered */
    display:none;
    content:'';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;   
    position:absolute;
    top:30px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:35px;
    left:0px;
    padding:5px 8px;
    background:#1a1a1a;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    height:25px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
    display:block;
}

.notification .badge {
  position: absolute;
  top: -6px;
  right: -3px;
  padding: 1px 3px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 10px;
}

.notification .badge:before
{
    font-weight: bold;
    color: navy;
    content: "\00a0";
}

.notification {
  position: relative;
}

.card {
  background-color: deepskyblue;
  color: white;
  padding: 1rem;
  width: 13rem;
  text-align: center;  
}

.cardi {
  background-color: salmon;
  color: white;
  padding: 1rem;
  /*height: 5rem;*/
  /*width: 20rem;*/
  text-align: left;  
}

.cards, .cardis {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 992px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
  .cardis { grid-template-columns: repeat(1, 1fr); }
}

.imgg{
    float: left;
}

.gnd{
    color: blueviolet;
}

.xx{
    max-width: 100%;
}

.ksng{
    resize: none;
    background: transparent;
    font-family: sans-serif;
    max-width: 150px;
    border: none;
    outline: none;
    overflow-x: hidden;
}

.wid10{
    width: 10%;
}

.buatP{
    text-align:center;
    padding: 10% 0 10% 0;
}